@model IPaginationInfo
@{
    int totalPages = (int) Math.Ceiling(Model.TotalResults / (decimal) Model.ResultsPerPage);
    int currentPage = Model.CurrentPage;
    string disabilitato = "disabled";
}
@if(totalPages > 1)
{
<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item @if(currentPage == 1) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="1" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-double-left"></i></a>
        </li>
        <li class="page-item @if(currentPage == 1) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@(currentPage-1)" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-left"></i></a>
        </li>
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@p" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@p" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending">@p</a>
                </li>
            }
        }
        <li class="page-item @if(currentPage == totalPages || totalPages == 0) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@(currentPage+1)" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item @if(currentPage == totalPages || totalPages == 0) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@totalPages" asp-route-search="@Model.Search" asp-route-searchtype="@Model.SearchType" asp-route-cap="@Model.Cap" asp-route-prefisso="@Model.Prefisso" asp-route-belfiore="@Model.Belfiore" asp-route-provincia="@Model.Provincia" asp-route-regione="@Model.Regione" asp-route-orderby="@Model.OrderBy" asp-route-ascending="@Model.Ascending"><i class="fas fa-angle-double-right"></i></a>
        </li>
    </ul>
</nav>
}