@model RegioneViewModel
<div class="row">
    <div class="col-md-12">
        <h1>@Model.NomeRegione</h1>
        <h2>Capoluogo di Regione: <a asp-controller="Comuni" asp-action="Dettaglio" asp-route-id="@Model.Capoluogo.CodiceCatastale">@Model.Capoluogo.NomeComune</a></h2>
        <h2>Totale comuni: <a href="" title="vedi comuni">@Model.NComuni</a></h2>
        <h2>Totale abitanti: @Model.Abitanti.ToString("#,###,###")</h2>
        <br />
        <h3>Elenco Province:</h3>
        @for(int i=0;i<5;i++)
        {
            <h2><a href="">Provincia @i</a></h2>
        }
        <br />
        <a class="btn btn-outline-primary" onClick="history.go(-1);return true;"><i class="fas fa-chevron-left"></i> Torna indietro</a>
    </div>
</div>