@model List<RegioneViewModel>
<div class="row">
    <div class="col-md-12">
        <h1>Regioni italiane</h1>
    </div>
</div>
<hr />
@foreach(RegioneViewModel regione in Model)
{
    <div class="row">
        <div class="col-md-3">
            <h2><a asp-action="Dettaglio" asp-route-id="@regione.CodiceRegione">@regione.NomeRegione</a></h2>
        </div>
        <div class="col-md-3">
            Capoluogo di regione:<br /><a asp-controller="Comuni" asp-action="Dettaglio" asp-route-id="@regione.Capoluogo.CodiceCatastale">@regione.Capoluogo.NomeComune</a>
        </div>
        <div class="col-md-2">
            Abitanti: @regione.Abitanti.ToString("#,###,###")<br />
            Totale comuni: <a asp-controller="Comuni" asp-action="Index" asp-route-searchtype="Regione" asp-route-search="@regione.CodiceRegione" title="Vedi comuni">@regione.NComuni.ToString("###,###")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Dettaglio" asp-route-id="@regione.CodiceRegione">Vedi Regione</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-controller="Comuni" asp-action="Index" asp-route-regione="@regione.CodiceRegione">Seleziona Comuni</a>
        </div>
    </div>
    <hr />
}