@model EnteViewModel
@if(Model.CodiceCatastale!="")
{
<p>@Model.Comune.NomeComune</p>
<p>@Model.Comune.Provincia.SiglaProvincia</p>
<p>@Model.Comune.Cap</p>
<p>@Model.Email</p>
<p>@Model.Pec</p>
<p>@Model.TitoloResponsabile @Model.CognomeResponsabile @Model.NomeResponsabile</p>
}
else
{
    <h1>Comune non trovato</h1>
}