@model EnteModifyInputModel
<h1>Configurazione ente</h1>


<div class="row">
    <div class="col-sm-10">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="far fa-credit-card"></i> DATI FISCALI</h5>
                <hr />
                <p class="card-text">Per modificare i dati fiscali del comune è necessario inserire le informazioni richieste di seguito e confermare premendo il relativo pulsante.</p>
                <hr />
                <form method="post">
                    <input type="hidden" id="CodiceCatastale" name="CodiceCatastale" value="@Model.CodiceCatastale">
                    <input type="hidden" id="Toponimo" name="Toponimo" value="@Model.Toponimo">
                    <input type="hidden" id="Indirizzo" name="Indirizzo" value="@Model.Indirizzo">
                    <input type="hidden" id="Civico" name="Civico" value="@Model.Civico">
                    <input type="hidden" id="Lettera" name="Lettera" value="@Model.Lettera">
                    <input type="hidden" id="Localita" name="Localita" value="@Model.Localita">
                    <input type="hidden" id="Telefono" name="Telefono" value="@Model.Telefono">
                    <input type="hidden" id="Fax" name="Fax" value="@Model.Fax">
                    <input type="hidden" id="Email" name="Email" value="@Model.Email">
                    <input type="hidden" id="Pec" name="Pec" value="@Model.Pec">
                    <input type="hidden" id="TitoloResponsabile" name="TitoloResponsabile" value="@Model.TitoloResponsabile">
                    <input type="hidden" id="CognomeResponsabile" name="CognomeResponsabile" value="@Model.CognomeResponsabile">
                    <input type="hidden" id="NomeResponsabile" name="NomeResponsabile" value="@Model.NomeResponsabile">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="PartitaIva"></label>
                            <input type="text" asp-for="PartitaIva" class="form-control form-control-lg" placeholder="Partita IVA">
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CodiceFiscale"></label>
                            <input type="text" asp-for="CodiceFiscale" class="form-control form-control-lg" placeholder="Codice fiscale">
                        </div>
                    </div>
                    <div class="form-row">
                        <!--div class="form-group col-md-4"></div-->
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Modifica dati fiscali</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



