@page
@model LoginModel

@{
    ViewData["Title"] = "Kampus Studio - Ver. Proto";
}
<div class="jumbotron">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 login-form-1">
                <h3>@ViewData["Title"]</h3>
                <form id="account" method="post">
                    <hr />
                    <h5>Effettua il login</h5>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email" value="" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" value="" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p align="center">
                            <a id="forgot-password" asp-page="./ForgotPassword">Hai dimenticato la password?</a>
                        </p>
                        <p align="center">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrati come nuovo utente</a>
                        </p>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <h5>Accedi anche con:</h5>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        Non ci sono servizi di autenticazione esterni configurati. Guarda <a href="https://go.microsoft.com/fwlink/?LinkID=532715">questo articolo</a>
                                        per i dettagli sulla configurazione di questa applicazione ASP.NET per supportare l'accesso tramite servizi esterni.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                    <div>
                                        <p align="center">
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Accedi utilizzando il tuo @provider.DisplayName account">@provider.DisplayName</button>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
