@model List<ComuneViewModel>
<div class="row">
    <div class="col-md-7">
        <h1>Comuni italiani</h1>
    </div>
    <div class="col-md-5 d-flex align-items-end">
        <form asp-controller="Comuni" asp-action="Index" method="get">
            <div class="input-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle piatto-dx" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="searchType">xxxx</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Nome Comune'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Nome Comune';">Nome Comune</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'CAP'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'CAP';">CAP</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Prefisso'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Prefisso';">Prefisso</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Belfiore'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Belfiore';">Belfiore</button>
                        <input id="searchTypeValue" type="hidden" name="searchtype" value="xxxx"></input>
                    </div>
                </div>
                <input type="text" name="search" placeholder="Cerca" id="ricerca" value="xxxx">
                <div class="input-group-append"><button class="input-group-text" id="search-button"><i class="fas fa-search"></i></button></div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
    </div>
    <div style="height: 30px;" class="col-md-5 d-flex align-items-start">
        @if(true /*@Model.Input.Search!="" || @Model.Input.Cap!=null || @Model.Input.Prefisso!=null || @Model.Input.Belfiore!=null*/ )
        {
            <a asp-controller="Comuni" asp-action="Index"><i class="far fa-times-circle"></i> azzera ricerca</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-searchtype="TipoRicerca" asp-route-orderby="nomeComune" asp-route-ascending="true" asp-route-search="" asp-route-cap="76016" asp-route-prefisso="0883" asp-route-belfiore="E946">Comune</a> <i class="fas fa-caret-up"></i></div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-searchtype="TipoRicerca" asp-route-orderby="abitanti" asp-route-ascending="false" asp-route-search="" asp-route-cap="76016" asp-route-prefisso="0883" asp-route-belfiore="E946">Abitanti</a> <i class="fas fa-caret-down"></i></div>
    <div class="col-md-7"></div>
</div>
<hr />

@foreach(ComuneViewModel comune in Model)
{
<div class="row">
    <div class="col-md-1">
        <a href="#"><img src="~/Italia/@(comune.Regione.RipartizioneGeografica).jpg" width="50" title="Sud"></a>
    </div>
    <div class="col-md-4">
        <h2><a asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">@comune.NomeComune</a> @if(@comune.FlagProvincia){<a href="#"><i title="Provincia" class="fab fa-product-hunt"></i></a>} @if(@comune.FlagRegione){<a href="#"><i title="Capoluogo di regione" class="fas fa-registered"></i></a>}</h2>
        <abitanti>Abitanti: @comune.Abitanti.ToString("###,###")</abitanti>
    </div>
    <div class="col-md-3">
        <regione>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="@comune.Regione.CodiceRegione">@comune.Regione.NomeRegione</a></regione><br />
        <provincia>Provincia: <a asp-controller = "Province" asp-action="Dettaglio" asp-route-id="@comune.Provincia.CodiceProvincia">@comune.Provincia.NomeProvincia</a></provincia>
    </div>

    <div class="col-md-2">
        <cap>CAP: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="CAP" asp-route-search="76016">@comune.Cap</a></cap><br />
        <prefisso>Prefisso: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="Prefisso" asp-route-search="0883">@comune.Prefisso</a></prefisso>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">Visualizza</a>
    </div>
</div>
<hr />
}
@{
    int totalPages = 100 /*(int) Math.Ceiling(Model.Comuni.TotalCount / (decimal) Model.Input.Limit)*/;
    int currentPage = 1 /*Model.Input.Page*/ ;
    string disabilitato = "disabled";
}
<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center">
        <li class="page-item @if(currentPage == 1) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="1" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending"><i class="fas fa-angle-double-left"></i></a>
        </li>
        <li class="page-item @if(currentPage == 1) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@(currentPage-1)" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending"><i class="fas fa-angle-left"></i></a>
        </li>
        @for(int p = Math.Max(1, currentPage-4); p <= Math.Min(totalPages, currentPage+4); p++)
        {
            if (p == currentPage)
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@p" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending">@p <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@p" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending">@p</a>
                </li>
            }
        }
        <li class="page-item @if(currentPage == totalPages || totalPages == 0) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@(currentPage+1)" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending"><i class="fas fa-angle-right"></i></a>
        </li>
        <li class="page-item @if(currentPage == totalPages || totalPages == 0) @disabilitato" aria-current="page">
            <a class="page-link" asp-comtroller="Comuni" asp-action="Index" asp-route-page="@totalPages" asp-route-search="Model.Input.Search" asp-route-searchtype="Model.Input.SearchType" asp-route-cap="Model.Input.Cap" asp-route-prefisso="Model.Input.Prefisso" asp-route-belfiore="Model.Input.Belfiore" asp-route-orderby="Model.Input.OrderBy" asp-route-ascending="Model.Input.Ascending"><i class="fas fa-angle-double-right"></i></a>
        </li>
    </ul>
</nav>
