@model ComuneListViewModel
<div class="row">
    <div class="col-md-7">

    @{
        if (Model.Input.SearchType != "Provincia" && Model.Input.SearchType != "Regione") {<h1>Comuni italiani</h1>}
        else {
            if (Model.Input.SearchType == "Provincia") {<h1>Comuni della provincia<br />di @Model.Comuni.Results[0].Provincia.NomeProvincia</h1>}
            else {
                if (Model.Input.SearchType == "Regione") {<h1>Comuni della<br />regione @Model.Comuni.Results[0].Regione.NomeRegione</h1>}
            }
        }
    }

    </div>
    <div class="col-md-5 d-flex align-items-end">
        <form asp-controller="Comuni" asp-action="Index" method="get">
            <div class="input-group">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle piatto-dx" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="searchType">@{if (Model.Input.SearchType == "Provincia" || Model.Input.SearchType == "Regione") {<text>Nome comune</text>}else {@Model.Input.SearchType}}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Nome comune'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Nome comune';">Nome comune</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'CAP'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'CAP';">CAP</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Prefisso'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Prefisso';">Prefisso</button>
                        <button class="dropdown-item" type="button" onclick="var c1 = document.getElementById('searchTypeValue'); c1.value = 'Belfiore'; var b1 = document.getElementById('searchType'); b1.innerHTML = 'Belfiore';">Belfiore</button>
                        <input id="searchTypeValue" type="hidden" name="searchtype" value="@{if (Model.Input.SearchType == "Provincia" || Model.Input.SearchType == "Regione") {<text>Nome comune</text>} else {@Model.Input.SearchType}}"></input>
                    </div>
                </div>
                <input type="text" name="search" placeholder="Cerca" id="ricerca" value="@if (Model.Input.SearchType != "Provincia" && Model.Input.SearchType != "Regione") @Model.Input.Search">
                <div class="input-group-append"><button class="input-group-text" id="search-button"><i class="fas fa-search"></i></button></div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
    </div>
    <div style="height: 30px;" class="col-md-5 d-flex align-items-start">
        @if(Model.Input.Search != "" && (Model.Input.SearchType == "Nome comune" || Model.Input.SearchType == "CAP" || Model.Input.SearchType == "Prefisso" || Model.Input.SearchType == "Belfiore"))
        {
            <a asp-controller="Comuni" asp-action="Index"><i class="far fa-times-circle"></i> azzera ricerca</a>
        }
    </div>
</div>

@if (Model.Comuni.TotalCount > 0)
{
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-search="@Model.Input.Search" asp-route-searchtype="@Model.Input.SearchType" asp-route-orderby="nomeComune" asp-route-ascending="@(Model.Input.OrderBy == "nomeComune" ? !Model.Input.Ascending : true)">Comune</a> @if(Model.Input.OrderBy == "nomeComune") {<i class="fas fa-caret-@(Model.Input.Ascending ? "up" : "down")"></i>}</div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-search="@Model.Input.Search" asp-route-searchtype="@Model.Input.SearchType" asp-route-orderby="abitanti" asp-route-ascending="@(Model.Input.OrderBy == "abitanti" ? !Model.Input.Ascending : false)">Abitanti</a> @if(Model.Input.OrderBy == "abitanti") {<i class="fas fa-caret-@(Model.Input.Ascending ? "up" : "down")"></i>}</div>
    <div class="col-md-7"></div>
</div>
<hr />
}
else
{
    <h2>La ricerca non ha prodotto alcun risultato.<br /><a asp-controller="Comuni" asp-action="Index">Azzera ricerca</a></h2>
}

@foreach(ComuneViewModel comune in Model.Comuni.Results)
{
<div class="row">
    <div class="col-md-1">
        <a href="#"><img src="~/Italia/@(comune.Regione.RipartizioneGeografica).jpg" width="50" title="Sud"></a>
    </div>
    <div class="col-md-4">
        <h2><a asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">@comune.NomeComune</a> @if(@comune.FlagProvincia){<a href="#"><i title="Provincia" class="fab fa-product-hunt"></i></a>} @if(@comune.FlagRegione){<a href="#"><i title="Capoluogo di regione" class="fas fa-registered"></i></a>}</h2>
        <abitanti>Abitanti: @comune.Abitanti.ToString("###,###")</abitanti>
    </div>
    <div class="col-md-3">
        <regione>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="@comune.Regione.CodiceRegione">@comune.Regione.NomeRegione</a></regione><br />
        <provincia>Provincia: <a asp-controller = "Province" asp-action="Dettaglio" asp-route-id="@comune.Provincia.CodiceProvincia">@comune.Provincia.NomeProvincia</a></provincia>
    </div>

    <div class="col-md-2">
        <cap>CAP: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="CAP" asp-route-search="@comune.Cap">@comune.Cap</a></cap><br />
        <prefisso>Prefisso: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="Prefisso" asp-route-search="@comune.Prefisso">@comune.Prefisso</a></prefisso>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">Visualizza</a>
    </div>
</div>
<hr />
}

<vc:pagination-bar model="@Model"></vc:pagination-bar>