@model List<ComuneViewModel>
<div class="row">
    <div class="col-md-7">
        <h1>Comuni italiani</h1>
    </div>
    <div class="col-md-5 d-flex align-items-end">
        <h1>Ricerca</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-searchtype="TipoRicerca" asp-route-orderby="nomeComune" asp-route-ascending="true" asp-route-search="E946" asp-route-cap="76016" asp-route-prefisso="0883" asp-route-belfiore="E946">Comune</a> <i class="fas fa-caret-up"></i></div>
    <div class="col-md-2"><a asp-controller="Comuni" asp-action="Index" asp-route-searchtype="TipoRicerca" asp-route-orderby="abitanti" asp-route-ascending="false" asp-route-search="E946" asp-route-cap="76016" asp-route-prefisso="0883" asp-route-belfiore="E946">Abitanti</a> <i class="fas fa-caret-down"></i></div>
    <div class="col-md-7"></div>
</div>
<hr />

@foreach(ComuneViewModel comune in Model)
{
<div class="row">
    <div class="col-md-1">
        <a href="#"><img src="~/Italia/@(comune.Regione.RipartizioneGeografica).jpg" width="50" title="Sud"></a>
    </div>
    <div class="col-md-4">
        <h2><a asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">@comune.NomeComune</a> <a href="#"><i title="Provincia" class="fab fa-product-hunt"></i></a> <a href="#"><i title="Capoluogo di regione" class="fas fa-registered"></i></a></h2>
        <abitanti>Abitanti: @comune.Abitanti</abitanti>
    </div>
    <div class="col-md-3">
        <regione>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="CodiceRegione">@comune.Regione.NomeRegione</a></regione><br />
        <provincia>Provincia: <a asp-controller = "Province" asp-action="Dettaglio" asp-route-id="CodiceProvincia">@comune.Provincia.NomeProvincia</a></provincia>
    </div>
    <div class="col-md-2">
        <cap>CAP: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="CAP" asp-route-search="76016">@comune.Cap</a></cap><br />
        <prefisso>Prefisso: <a asp-controller="Comuni" asp-action="Index" asp-route-searchType="Prefisso" asp-route-search="0883">@comune.Prefisso</a></prefisso>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Dettaglio" asp-route-id="@comune.CodiceCatastale">Visualizza</a>
    </div>
</div>
<hr />
}