@model AziendaViewModel
<h1>Azienda concessionaria</h1>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingZero">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                    <h5 class="card-title"><i class="fas fa-globe"></i> @Model.NomeAzienda</h5>
                </button>
            </h5>
        </div>
        <div id="collapseZero" class="collapse @if(Model.Card == null || Model.Card!="One") {<text>show</text>}" aria-labelledby="headingZero" data-parent="#accordion">
            <div class="card-body">
                <p>In questa sezione vengono riportate le informazioni relative alla società concessionaria che è possibile inserire/modificare cliccando sul pulsante di modifica.</p>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><div class="d-flex justify-content-center">Inserisci / Modifica</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Nome azienda:</strong> @Model.NomeAzienda</td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyNomeAzienda" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Indirizzo:</strong> @Model.ToponimoAzienda @Model.IndirizzoAzienda @Model.CivicoAzienda - @Model.CittaAzienda.Cap @Model.CittaAzienda.NomeComune @Model.CittaAzienda.Provincia.SiglaProvincia</td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyIndirizzoAzienda" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Partita IVA / Codice Fiscale:</strong> @Model.PartitaIvaAzienda - @Model.CodiceFiscaleAzienda</td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyCfPivaAzienda" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Telefono / Fax:</strong> @Model.TelefonoAzienda - @Model.FaxAzienda</td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyTelefonoFaxAzienda" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Email / Pec:</strong> @Model.EmailAzienda - @Model.PecAzienda</td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyEmailPecAzienda" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="card-title"><i class="fas fa-building"></i> Agenzia locale</h5>
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse @if(Model.Card=="One") {<text>show</text>}" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>In questa sezione è possibile inserire/modificare le informazioni relative ad una agenzia periferica.</p>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><div class="d-flex justify-content-center">Inserisci / Modifica</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Indirizzo:</strong> <i>@Model.ToponimoAgenzia @Model.IndirizzoAgenzia @Model.CivicoAgenzia - 76016 Margherita di Savoia (BT) <--- questi dati devo recuperarli nel DB</i></td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyIndirizzoAgenzia" asp-route-id="" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Telefono / Fax:</strong> <i>@Model.TelefonoAgenzia - @Model.FaxAgenzia</i></td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyTelefonoFaxAgenzia" asp-route-id="" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr>
                            <td><strong>Email / Pec:</strong> <i>@Model.EmailAgenzia - @Model.PecAgenzia</i></td>
                            <td><div class="d-flex justify-content-center"><a asp-controller="Aziende" asp-action="ModifyEmailPecAgenzia" asp-route-id="" class="btn btn-primary"><i class="fas fa-edit"></i></a></div></td>
                        </tr>
                        <tr><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>